body {
  margin: 0;
}

:root {
  --container-width: 1320px;
  --container-padding: 24px;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding-inline: var(--container-padding);
  box-sizing: border-box;
}

@media (max-width: 600px) {
  :root {
    --container-padding: 12px;
  }
}
